html, body {
  height: 100%;
  margin: 0;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  padding: 1rem;
  padding-top: 100px;
  background-image: url('https://plus.unsplash.com/premium_photo-1701683217422-ffb7785557c5?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8ODV8fGJsdWUlMjBiYWNrZ3JvdW5kfGVufDB8MHwwfHx8MA%3D%3D');
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
}

